{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
    <style>


    .textcols {
    column-width: 50%;
    column-count: 2;
    column-gap: 4%;
    margin: 0 0 15px 135px;
    font-family: Montserrat;
    color: white;
    backdrop-filter: blur(12px);
    border-radius: 5px;
    }

   .textcols p {
    padding: 0;
    margin: 0 0 15px 0;
    }
    .textcols img {border-radius: 5px;}

    .imgss {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 15px;

    .imgss img {border-radius: 5px;}

    }
    body .features {
    font-family: Montserrat;
    width: 85%;
    height 250px;
    margin-top: 25px;
    margin-left: 125px;
    margin-right: 125px;
    backdrop-filter: blur(12px);
    }
    body .about {
    min-width: 250px;
    width: fit-content;
    padding: 10px;
    color: white;



    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <div class="about">
         <p><h3>Что может быть важнее безопасного хранения данных компании?</h3></p>
         <p>Обрабатывать информацию на внешних серверах в data-центрах — это удобный вариант, но не оптимальный. Нельзя гарантировать надежность сервера, его защиту от вирусов или взломов. Вы можете приобрести полный контроль над данными своего бизнеса, задумайтесь о собственной серверной.<br> Компания ARCCORP обосновалась на рынке недавно, но уже заслужила уважение поставщиков и наработала устойчивую клиентскую базу. Бесспорно, необходимо доверять подрядчикам, которые обеспечивают предприятие оборудованием и обустраивают серверные помещения, потому что от этого напрямую зависит безопасность и сохранность всего объема данных, принадлежащих заказчику услуг. </p>
        </div>

        <div class="imgss">
    <img src="{% static 'main/img/sr2.png' %}" alt="Фотография 1" width="500" height="300">
    <img src="{% static 'main/img/sr1.png' %}" alt="Фотография 2" width="500" height="300">
        </div>
        <p class="about">Наши консультанты готовы помочь Вам с выбором типа и поставщика оборудования, с проектированием или усовершенствованием системы обработки данных. В результате, Вам будет легче сформировать заявку на установку оборудования нашими специалистами, обладающими надлежащим уровнем образования и опыта работы в сфере технологий. </p></div>
         <div class="features">
             <div class="about">
                 <p><h3>Наши проекты</h3></p>
             </div>
         </div>
    <div class="textcols">
       <img src="{% static 'main/img/NANOSKAT.jpg' %}" alt="Фотография 1" width="500" height="300"><br>
       <p><H4>ООО "Наноскат"</H4><br></p>
       <p>Филиал в Лобне является инновационным центром разработки<br>
           электросамокатов. Здесь работают около 2000 сотрудников. <br>
           Новостройка находится в отдалении от инфраструктурного центра<br>
           города и примыкает к парку Победы. В рамках современной <br>
           архитектуры штаба компания, естественно, хочет иметь хорошую <br>
           ИТ-инфраструктуру.<br>
           Аrccorp позаботились об этом, оборудовав серверные помещения <br>
           для полного контроля работы с данными.<br>
           Офис и data-центр:<br>
           -	телекоммуникационные стойки и шкафы;<br>
           -	электротехнические изделия – розетки, выключатели, <br>
                магистральные коробы, хомуты;<br>
           -	источники постоянного питания;<br>
           -	элементы системы противопожарной безопасности;<br>
           -	активное оборудование – маршрутизатор <br>
           -	ресиверы<br>
           -	трансиверы<br>
           -	мультиплексоры<br>
           -	медиаконверторы<br>
       </p>
       <img src="{% static 'main/img/profpostavky.jpg' %}" alt="Фотография 1" width="500" height="300"><br>
       <p><H4>ИП "ПрофПоставки"</H4><br></p>
       <p>Логистическое агентство по перевозкам опасных грузов<br>
           в Ленинградской области в особенности нуждается в <br>
           квалифицированной техподдержке. <br>
           Холодный и горячий воздух полностью разделены в центре<br>
           обработки данных. Тепло, выделяемое серверами, <br>
           рекуперируется теплообменником для системы отопления.<br>
           Здание содержит несколько сервисных центров:<br>
           в административной и лабораторной части:<br>
           <br>
           Реализация проекта компанией Arccorp включила в себя:<br>
            -	Панели высокой плотности<br>
            -	Маркировка кабеля и панелей, является обязательной мерой для<br>
           удобной коммутации<br>
            -	Климатического оборудования<br>
            -	Звукопоглощение<br>
           Планируя размещение серверов в стойке, рекомендуем 30% <br>
           площади оставить под резерв. Особенно, если развитие <br>
           IT-инфраструктуры проекта сложно спрогнозировать на <br>
           ближайшие 1-2 года.
       </p>
   </div>
{% endblock %}