{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
    <style>
    body .features {
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        width: 85%;
        margin-top: 25px;
        margin-left: 125px;
        margin-right: 125px;
        backdrop-filter: blur(12px);
    }

    .features * {
        color: white;
    }

    .imgss {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .imgss > div {
        width: 30%;
    }

    .cols {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cols > div {
        width: 30%;
    }

    .cols > div img {
        max-width:100%;
        height:auto;
    }

    img {
        max-width:100%;
        height:auto;
    }

    </style>
{% endblock %}

{% block content %}
    <div class="features">
            <div class="about">
                 <h3>Что может быть важнее безопасного хранения данных компании?</h3>
                 <p>Обрабатывать информацию на внешних серверах в data-центрах — это удобный вариант, но не оптимальный. Нельзя гарантировать надежность сервера, его защиту от вирусов или взломов. Вы можете приобрести полный контроль над данными своего бизнеса, задумайтесь о собственной серверной.<br> Компания ARCCORP обосновалась на рынке недавно, но уже заслужила уважение поставщиков и наработала устойчивую клиентскую базу. Бесспорно, необходимо доверять подрядчикам, которые обеспечивают предприятие оборудованием и обустраивают серверные помещения, потому что от этого напрямую зависит безопасность и сохранность всего объема данных, принадлежащих заказчику услуг. </p>
            </div>

            <div class="imgss">
                <div><img src="{% static 'main/img/sr2.png' %}" alt="Фотография 1"></div>
                <div><img src="{% static 'main/img/sr1.png' %}" alt="Фотография 2"></div>
            </div>
            <p class="about">Наши консультанты готовы помочь Вам с выбором типа и поставщика оборудования, с проектированием или усовершенствованием системы обработки данных. В результате, Вам будет легче сформировать заявку на установку оборудования нашими специалистами, обладающими надлежащим уровнем образования и опыта работы в сфере технологий. </p>
        <div class="cols">
            <div>
                <img src="{% static 'main/img/nanoskat.jpg' %}" alt="Фотография 1" width="500" height="300">
                <h4>ООО "Наноскат"</h4>
                <p>Филиал в Лобне является инновационным центром разработки
                   электросамокатов. Здесь работают около 2000 сотрудников.
                   Новостройка находится в отдалении от инфраструктурного центра
                   города и примыкает к парку Победы. В рамках современной
                   архитектуры штаба компания, естественно, хочет иметь хорошую
                   ИТ-инфраструктуру.
                   Аrccorp позаботились об этом, оборудовав серверные помещения
                   для полного контроля работы с данными.
                </p>
                <p>Офис и data-центр:</p>
                    <ul>
                        <li>- телекоммуникационные стойки и шкафы;</li>
                        <li>- электротехнические изделия – розетки, выключатели,</li>
                        <li>- магистральные коробы, хомуты;</li>
                        <li>- источники постоянного питания;</li>
                        <li>- элементы системы противопожарной безопасности;</li>
                        <li>- активное оборудование – маршрутизатор</li>
                        <li>- ресиверы</li>
                        <li>- медиаконверторы</li>
                    </ul>
            </div>
            <div>
                   <img src="{% static 'main/img/profpostavky.jpg' %}" alt="Фотография 1" width="500" height="300">
                   <h4>ИП "ПрофПоставки"</h4>
                   <p>Логистическое агентство по перевозкам опасных грузов
                       в Ленинградской области в особенности нуждается в
                       квалифицированной техподдержке.
                       Холодный и горячий воздух полностью разделены в центре
                       обработки данных. Тепло, выделяемое серверами,
                       рекуперируется теплообменником для системы отопления.
                       Здание содержит несколько сервисных центров:
                       в административной и лабораторной части:
                   </p>
                        <p> Реализация проекта компанией Arccorp включила в себя:</p>
                        <ul>
                            <li>- Панели высокой плотности</li>
                            <li>- Маркировка кабеля и панелей, является обязательной мерой для
                       удобной коммутации</li>
                            <li>- Климатического оборудования</li>
                            <li>- Звукопоглощение</li>
                        </ul>
                       <p>
                           Планируя размещение серверов в стойке, рекомендуем 30%
                       площади оставить под резерв. Особенно, если развитие
                       IT-инфраструктуры проекта сложно спрогнозировать на
                       ближайшие 1-2 года.
                       </p>
            </div>
        </div>
    </div>
{% endblock %}