{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
    <style>
        body .features {
            display: flex;
            flex-direction: column;
            font-family: Montserrat;
            margin-top: 25px;
            margin-left: 100px;
            margin-right: 100px;
        }

        body .features > div {
            font-size: 18px;
        }

        .userstatus {
            display: flex;
            justify-content: space-between;
            color: #fff;
            border-bottom: 1px solid #ffffffe3;
            background-color: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
        }

        .userstatus .lf {
            align-self: center;
            margin: 20px;
        }

        .userstatus .rg {
            align-self: center;
            margin: 20px;
        }

        .usernav {
            display: flex;
            min-width: 250px;
            width: fit-content;
            padding: 50px;
            color: white;
            border-right: 1px solid #ffffffe3;
            border-radius: 0px;
            background-color: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
        }

        .usernav ul {
            margin: 0;
            padding: 0;
        }

        .usernav ul li{
            list-style-type: none;
            color: white;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .usernav ul .href {
            transition: transform .25s ease;
        }

        .usernav ul .href a {
            color: white;
        }

        .usernav ul .href:hover {
            transform: scale(1.05);
            color: #B8B8B8;
            cursor: pointer;
        }

        .usernav ul .href a:hover {
            transform: scale(1.05);
            color: #B8B8B8;
            cursor: pointer;
        }

        .usernav ul .back p {
            color: darkgray;
            font-size: 16px;
        }

        .userbody {
            display: flex;
            justify-content: space-between;
            min-height: 70vh;
        }

        .useractions {
            background-color: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(5px);
            padding: 25px;
            padding-left: 50px;
            padding-top: 55px;
            color: white;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <div class="userstatus">
            <p class="lf">{{ user }} | {{ user.user_role|upper }}
            </p>
            <p class="rg">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="userbody">
            <div class="usernav">
                <ul>
                    <li class="back"><p><i class="fa-solid fa-user"></i> АККАУНТ</p></li>
                    <li class="href"><a href="{% url 'profile' %}">Профиль</a></li>
                    {% if user.is_staff %}

                    {% else %}
                        <li class="href"><a href="{% url 'requests' %}">Подать заявку</a></li>
                    {% endif %}
                    <li class="href"><a href="{% url 'my_requests' %}">Мои заявки</a></li>
                    <li class="back"><p><i class="fa-solid fa-gear"></i> СЕРВИС</p></li>
                    <li class="href"><a href="#">Смена пароля</a></li>
                    <li class="href"><a href="#">Смена почты</a></li>
                </ul>
            </div>
            <div class="useractions">
                {% block usercontent %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}