{% extends 'main/account.html' %}
{% block usercontent %}
    <style>
        form {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 40%;
            min-width: 450px;
            max-width: 700px;
            align-self: center;
            font-family: Montserrat;
            padding: 50px;
            border-radius: 25px;
            backdrop-filter: blur(12px);
        }

        form * {
            margin-bottom: 25px;
        }

        .reqblock {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            min-width: 450px;
            max-width: 1000px;
            align-self: center;
            font-family: Montserrat;
            padding: 25px;
            margin-bottom: 25px;
            border-radius: 25px;
            backdrop-filter: blur(12px);
        }

        .reqblock > div {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            max-width: 1000px;
            width: 50%;
        }

        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            color: #fff;
            margin-bottom: 25px;
        }

        .textfields > input {
            width: 100%;
            color: #000;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            border: none;
            padding: 10px;
        }

        .textfields > textarea {
            width: 100%;
            color: #000;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            border: none;
            padding: 10px;
        }

        button {
            margin-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            border-radius: 1px;
            font-weight: 500;
        }

        .alert {
            padding-bottom: 5px;
            padding-top: 5px;
            width: fit-content;
        }

        h5 {
            color: #B8B8B8;
        }
    </style>
    {% for el in reqs %}
        <div class="reqblock">
            <div>
                <h3>{{ el.title }}</h3>
                <h5>Заявитель: {{ el.createdBy.first_name }} {{ el.createdBy.last_name }}</h5>
                {% if el.status == 'awaiting' %}
                    <div class="alert alert-info" role="alert">
                        Ожидание
                    </div>
                {% elif el.status == 'refused' %}
                    <div class="alert alert-warning" role="alert">
                        Отклонено
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        Принято
                    </div>
                {% endif %}
                <a href="{% url 'req_detail' el.id %}"><button type="button" class="btn btn-outline-light">Просмотр</button></a>
            </div>
            <div>
                <h5>{{ el.createdBy.phone }}</h5>
                <p>{{ el.createdBy.address }}</p>
                {{ el.file }}
            </div>
        </div>
    {% endfor %}
{% endblock %}