{% extends 'main/account.html' %}
{% block usercontent %}
    <style>
        form {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 40%;
            min-width: 450px;
            max-width: 700px;
            align-self: center;
            font-family: Montserrat;
            padding: 50px;
            border-radius: 25px;
            backdrop-filter: blur(12px);
        }

        form * {
            margin-bottom: 25px;
        }

        @media (max-width: 1430px) {
            .reqblock {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                min-width: 450px;
                max-width: 1500px;
                font-family: Montserrat;
                padding: 25px;
                margin-bottom: 25px;
                border-radius: 25px;
                backdrop-filter: blur(12px);
            }
        }

        @media (min-width: 1430px) {
            .reqblock {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                min-width: 450px;
                max-width: 1500px;
                align-self: center;
                font-family: Montserrat;
                padding: 25px;
                margin-bottom: 25px;
                border-radius: 25px;
                backdrop-filter: blur(12px);
            }
        }

        .reqblock > div {
            display: flex;
            flex-direction: column;
            min-width: 400px;
            max-width: 1000px;
            margin: 25px;
        }

        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            color: #fff;
            margin-bottom: 25px;
        }

        .textfields > input {
            width: 100%;
            color: #000;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            border: none;
            padding: 10px;
        }

        .textfields > textarea {
            width: 100%;
            color: #000;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            border: none;
            padding: 10px;
        }

        button {
            margin-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            border-radius: 1px;
            font-weight: 500;
        }

        h5 {
            color: #B8B8B8;
        }

        .addr {
            max-width: 450px;
        }

        .alert {
            padding-bottom: 5px;
            padding-top: 5px;
            width: fit-content;
            margin-bottom: 25px;
            margin-top: 15px;
        }
    </style>
    <div class="reqblock">
        <h1>Удаление записи</h1>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Удалить заявку</button>
        </form>
    </div>
{% endblock %}