{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
    <style>
    body .features {
    font-family: Montserrat;
    width: 100%;
    height 250px;
    margin-top: 25px;
    margin-left: 125px;
    margin-right: 80px;
    color: white;
    backdrop-filter: blur(12px);
    min-width: 250px;
    width: fit-content;
    padding: 10px;
    }


    table {
    width: 90%;
    }
    th {
       padding: 10px;
       width: 90%;
    }
    th:last-child {
    width: 10%;
    }
    body .title {
    color: #fff3cd;;
    }



    </style>
{% endblock %}

{% block content %}

         <div class="alert alert-info" role="alert">
                    Обращаем внимание, что Arccorp занимается исключительно установкой заранее заготовленного сетевого оборудования.
                </div>
         <div class="features">
             <h2>Услуги</h2><br>
         <table>
             <tr>
                 <th><div class="title">Системы резервного копирования</div><br>Утрата необходимой информации способна обездвижить работу фирмы. Предупреждение опасности случайного или же преднамеренного удаления данных дают системы запасного копирования информации. С их поддержкой возможно в короткие сроки возобновить нужные данные.</th>
             <th><br>12 000 рублей</th>
                 <th><br>гарантия<br> 2 года</th>
             </tr>
             <tr>
                 <th><div class="title">Системы управления и прогнозирования ИТ-инфраструктуры</div><br>Система управления ИТ-технологиями важна для бесперебойного и высококачественного функционирования всех составляющих серверной инфраструктуры фирмы. Прогноз работы ИТ системы нужен для поддержки и становления бизнес-стратегии компании.</th>
                 <th><br>15 000 рублей</th>
                 <th><br>гарантия<br> 5 лет</th>
             </tr>
             <tr>
                 <th><div class="title">Виртуализация ИТ-инфраструктуры</div><br>Виртуализация рабочих мест и приложений. Всеми преимуществами грамотно созданного и настроенного ЦОД можно пользоваться без непосредственной установки серверов и прочего оборудования на территории предприятия. Благодаря тому, что ИТ-инфраструктура хранится в «облаке», минимизируются временные и денежные затраты на развертывание, конфигурирование и модернизацию серверных сетей.</th>
                 <th><br>18 000 рублей</th>
                 <th><br>гарантия<br> 12 месяцев</th>
              </tr>
             <tr>
                 <th><div class="title">Центры обработки данных</div><br>Один из главных компонентов серверной инфраструктуры компании. Включает в себя набор специализированного программного обеспечения, оборудование, а также взаимодействует с инженерной инфраструктурой. ЦОД предназначен для хранения, обработки и предоставления информации, в соответствии с требуемыми уровнями качества к предоставляемым данным.</th>
                 <th><br>18 000 рублей</th>
                 <th><br>гарантия<br> 10 месяцев</th>
              </tr>
             <tr>
             <tr>
                 <th><div class="title">Web-сервера и VPN-сервера</div><br>VPN-сервер построен на технологии, позволяющей выполнить одно либо несколько сетевых соединений, поверх другой сети. Корпоративный веб-сервер представляет собой систему, выполняющую оперативное предоставление нужной информации и документации сотрудникам компании или организации. Оба этих решения делают доступ к информации эффективным, удобным и безопасным.</th>
                 <th><br>18 000 рублей</th>
                 <th><br>гарантия<br> 3 года</th>
              </tr>
             <tr>
             <tr>
                 <th><div class="title">Почтовые системы (сервера)</div><br>Почтовые сервера необходимы для организации работы корпоративной почты. Это, в свою очередь, позволяет гарантировать мгновенную отправку сообщений и защищенность передаваемой информации от хакеров.</th>
                 <th><br>18 000 рублей</th>
                 <th><br>гарантия<br> 1 год</th>
              </tr>
             <tr>
                 <tr>
                 <th><div class="title">Сервера 1С</div><br>Решение позволяет существенно сэкономить на приобретении лицензий для использования копий программы 1С. Сотрудники с помощью удаленного доступа запускают приложение на сервере.</th>
                 <th><br>18 000 рублей</th>
                 <th><br>гарантия<br> 10 лет</th>
              </tr>
             <tr>
                 <tr>
                 <th><div class="title">Сервера DNS/DHCP</div><br>Решения для обеспечения надежной и эффективной связи между рабочими станциями и главным сервером компании. Наши специалисты проведут эффективную и точную настройку этих систем для обеспечения безотказной функциональности.</th>
                 <th><br>18 000 рублей</th>
                 <th><br>гарантия<br> 12 месяцев</th>
              </tr>
             <tr>

         </table>
    </div>



{% endblock %}